.auth-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f4f8;
}

.auth-card {
    width: 400px;
    background: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.auth-card h1 {
    margin-bottom: 30px;
}

.auth-card input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    background: #f3f4f8;
    border-radius: 16px;
}

.auth-card button {
    width: 100%;
    padding: 15px;
    border: none;
    background: #2563eb;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.auth-error {
    color: red;
    margin-top: 12px;
    font-size: 14px;
}